<link src="<?php echo base_url(); ?>assets/css/home.css"></link>


<body>
	<div id="score-keeper-title">
		<h1 id="score-keeper-header">Team Picker</h1>
	</div>
	<div id="registration-page">
		<table class="registration-home-page-layout">
			<tr>
				<td id="left-panel">
					<div class="registration-fields-div" id="team-one-registration-fields">
						<table class="registration-fields-table" id="left-table">
							<tr>
								<td>
									Team name:
									<input type="text" class="team-name-input" placeholder="Team 1" id="team-one-name-input"/>
								</td>
							</tr>
							<tr>
								<td>
									Player 1 name:
									<input type="text" class="player-name-input" placeholder="Player 1" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 2 name:
									<input type="text" class="player-name-input" placeholder="Player 2" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 3 name:
									<input type="text" class="player-name-input" placeholder="Player 3" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 4 name:
									<input type="text" class="player-name-input" placeholder="Player 4" disabled />
								</td>
							</tr>
							<tr>
								<td>
									Player 5 name:
									<input type="text" class="player-name-input" placeholder="Player 5" disabled />
								</td>
							</tr>
						</table>
					<div>
				</td>
				<td id="right-panel">
					<div class="registration-fields-div" id="team-twporegistration-fields">
						<table class="registration-fields-table" id="right-table">
							<tr>
								<td>
									Team name:
									<input type="text" class="team-name-input" placeholder="Team 2" id="team-two-name-input"/>
								</td>
							</tr>
							<tr>
								<td>
									Player 1 name:
									<input type="text" class="player-name-input" placeholder="Player 1" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 2 name:
									<input type="text" class="player-name-input" placeholder="Player 2" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 3 name:
									<input type="text" class="player-name-input" placeholder="Player 3" disabled/>
								</td>
							</tr>
							<tr>
								<td>
									Player 4 name:
									<input type="text" class="player-name-input" placeholder="Player 4" disabled />
								</td>
							</tr>
							<tr>
								<td>
									Player 5 name:
									<input type="text" class="player-name-input" placeholder="Player 5" disabled/>
								</td>
							</tr>
						</table>
					<div>
				<td>
			</tr>
		</table>
	</div>
</body>

<style>
#score-keeper-header
{
	font-size: 40px;
	color: white;
	padding:50px;
	text-align:center;
}

#score-keeper-title
{
	background-color:green;
}

#registration-page
{
	width: 100%;
	background-color:green;
}

#registration-home-page-layout
{
	padding: 10px;
	background-color: blue;
	width: 100%;
}
	
	#registration-home-page-layout td, th
	{
		padding: 10px;
	}

.registration-fields-table
{
	width:100%;
}

#left-panel td, th
{
	text-align: left;
	width: 100%;	
}

#right-panel td, th
{
	text-align: right;
	width: 100%;
}

#left-table td
{
	text-align:left;
	width: 100%;
}

#right-table td
{
	text-align:right;
	width: 100%;
}

.registration-fields-div
{
	width:100%;
}
</style>