<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="tournament-setup.css">
        <meta name="description" content="Quizbowl tornament setup">
    </head>
    <body>
        <div id="tournament-setup-title">
            Tournament Setup
        </div>
        <!--NEED TO DO: change action to correct url-->
        <!--NEED TO DO: are we using post method?-->
        <!--NEED TO DO: how specific of a location?-->
        <form action="tournament-setup.php" method="post">
            <table id="form-table">
                <tr>
                    <td>
                        <label for="tournament-name">Tournament</label>
                    </td>
                    <td>
                        <input type="text" name="tournament-name" placeholder="Name" autocomplete="on">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="location">Location</label>
                    </td>
                    <td>
                        <input type="text" name="city" placeholder="City" autocomplete="on">
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="text" name="state" placeholder="State" autocomplete="on">
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="text" name="country" placeholder="Country" autocomplete="on">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="date">Date</label>
                    </td>
                    <td>
                        <input type="text" name="date" placeholder="mm/dd/yyyy" autocomplete="on">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="packet">Packet</label>
                    </td>
                    <td>
                        <input type="text" name="packet" placeholder="Packet ID" autocomplete="on">
                    </td>
                </tr>
            </table>
            <div id="finished-submit">
                <input type="submit" value="Finished" name="finished">
            </div>
        </form>
    </body>
</html>

<!--https://kuler.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.83,0.7300977732949541,0.5157866807104772,0.4309371034652502,0.66,0.5894879430767677,1,1,1,0.91,0.5337148942521613,0.49899780169979596,0.36047265238927295,0.54,0.315110989819059-->
<!--https://kuler.adobe.com/create/color-wheel/?base=2&rule=Custom&selected=4&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.0824338293472303,0.2170932435069375,0.34,0.546031746031746,0.8281481481482392,0.86,1,1,1,0.9,0.5384252287641574,0.46268087757530896,0.34,0.08011631335144798,0.09207780701856683-->
